/* ----------------------------
    Colors
---------------------------- */
$purple: #1a1a33;
$white: #ffffff;
$red: #ff0000;
$blue-grey: #62728e;
$grey: #ecf0f1;
$grey-taupe: #8a8c8e;
$background-view: #22242800;

/* ----------------------------
    Spacing
---------------------------- */
$spacing-XL: 42px;
$spacing-SXL: 30px;
$spacing-L: 24px;
$spacing-M: 16px;
$spacing-S: 12px;
$spacing-XLXS: 10px;
$spacing-LXS: 8px;
$spacing-XS: 6px;
$spacing-XXS: 4px;

/* ----------------------------
    Font size
---------------------------- */
$title-size: 30px;
$body-size: 14px;